@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
* {
  box-sizing: border-box; 
}

:root {
  --primary-color: #ECDFCC;
  --primary-dark: #b9afa2;
  --secondary-color: #a89f90;
  --background-default: #3e3e46;
  --background-dark: #2E2E36;
  --background-paper: #606068;
}

html, body {
  margin: 0; 
  padding: 0;
  font-family: 'Josefin Sans', cursive !important;
  background-color: var(--background-default) !important;
  color: var(--primary-color) !important;
  min-height: 100vh;
}
body {
  padding: 10px;
}

.active {
  text-decoration: none;
  color: var(--primary-light); 
}

.notActive{  
  text-decoration: none;
  color: var(--primary-dark);
}

.movieDetails{
  display: flex;
}

.movieList{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  text-align: center;
}

.movieImages{
  width: 300px;
  height: auto;
  border-radius: 5px;
}
.movieItem{
  margin: 3px;
  width: 30%;
}
.likedMovies{
  list-style-type: none;
}

#MuiPaper-root{
  color: var(--primary-color);
  background-color: var(--background-default);
}

.custom-carousel {
  transition: none !important;
}

.carousel-item .active .MuiPaper-root {
  transition: none !important;
  background-color: aqua;
}
.custom-carousel .carousel-control-prev{
justify-content: left;
width: auto;
}

 .custom-carousel .carousel-control-next{
  justify-content: right;
  width: auto;
 }